<span class="small-4 large-4 offset-2 columns appstatus">
  <% if app.med_forms %>
    <i class="fa fa-ambulance enabled" data-tooltip title="Health Form Rec'd."></i>
  <% else %>
    <i class="fa fa-ambulance disabled" data-tooltip title="Need Health Form"></i>
  <% end %>
  <% if app.app_fee %>
    <i class="fa fa-usd enabled" data-tooltip title="App Fee Paid"></i>
  <% else %>
    <i class="fa fa-usd disabled" data-tooltip title="Need App Fee"></i>
  <% end %>
  <% if app.checkout_form %>
    <i class="fa fa-file-text enabled" data-tooltip title="Checkout Form Rec'd."></i>
  <% else %>
    <i class="fa fa-file-text disabled"data-tooltip title="Need Checkout Form"></i>
  <% end %>
  <% if app.incomplete %>
    <i class="fa fa-pencil-square-o enabled" data-tooltip title="Missing Info"></i>
  <% end %>
  <% if app.is_approved %>
    <i class="fa fa-check enabled" data-tooltip title="App Approved!"></i>
  <% else %>
    <i class="fa fa-check disabled" data-tooltip title="Pending Approval"></i>
  <% end %>
</span>