<ul class="button-group">
  <li><%= sort_link(@search, :school, "School", {default_order: :asc}, {class: "button tiny primary"}) %></li>
  <li><%= sort_link(@search, :gender, "Gender", {}, {class: "button tiny primary"}) %></li>
  <li><%= sort_link(@search, :grade, "Grade", {}, {class: "button tiny primary"}) %></li>
</ul>