<ul class="small-12 large-6 columns no-bullet">
	<li>
		<%= link_to "View Camp Info", admin_camp_path(@camp), {class: "button tiny primary"}  %>
	</li>
	<li>
		<%= link_to "Manage Users", profiles_path, {class: "button tiny primary"} %>
	</li>
	<li>
		<%= link_to "Manage Applications", admin_camp_apps_path, {class: "button tiny primary"}  %>
	</li>
</ul>