<div class="panel callout small-12 large-8 offset-1 columns">
	<h3>Information for <%= @camp.name %></h3>
	<hr />
	<%= render 'counts' %>
	<%= render 'actions' %>
	<hr />
	<%= render 'eventlist' %>
</div>