<%= render 'admin/shared/admin_tools' %>
<div class="row">
	<div class="small-12 large-12 columns panel">
		<h2>Administration Dashboard</h2>
		<hr />
		<%= render 'profile' %>
		<%= render 'campinfo' %>
	</div>
</div>
