<div class="row">
	<h2>Oops! We're Sorry.</h2>

	<div class="panel small-12 large-12 columns">
		<p>Hello, Coach!</p>
		<p>It seems that we weren't able to find the student you were looking for. They probably deleted their application.</p>
		<p>We apologize for the inconvenience, and we appreciate your time. Hopefully we'll see more of your students come
		join us at SWSDi this year.</p>
	</div>

</div>