<h3>A new student has registered for SWSDI!</h3>
<p>
<%= @user.first_name + " " + @user.last_name %> has submitted a camp application!
</p>
<p>
<%= @user.first_name %> has registered for the following events:
<ul>
    <% @app.events.each do |event| %>
        <li><%= event.name %></li>
    <% end %>
</ul>
</p>
<p>
Emails have been generated and sent to the student, their parent or guardian, and
their coach. These emails include next steps to take, downloads of the relevant
documents, and a super-friendly message from us!
</p>
<p>
Be on the lookout for return packets and application fee checks!
</p>
<p>
Cheers! <br />
-SWSDIBot
</p>
