<h4>Hey there, <%= @user.first_name %>!</h4>

<p>
Oops! We noticed that your application for <%= @camp.name %> is incomplete!
</p>
<p>
You can complete your application by logging into your account at <a href="https://register.swsdi.org">SWSDI Reigstration</a> , and clicking the button that says "Register for <%= @camp.name %>."
</p>
<p>
This step is necessary to continue the process of getting you registered and confirmed for <%= @camp.name %> this summer.
</p>
<p>
We hope this was just an oversight, and that you still plan on joining us. We have some great stuff planned! Let us know if we can be of any help by replying to this email. 
</p>
<p>
We look forward to seeing you in July!
</p>
<p>
Cheers, <br />
-The SWSDI Staff
</p>