<div class="row">
  <h3>Edit Payment for <%= @camp_app.user.full_name %></h3>
  <%= simple_form_for([:admin, @camp_app, @payment], method: :put) do |f| %>
    <%= render 'form', f: f %>
  <% end %>
</div>