<h1>Listing camp_applications</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @camp_applications.each do |camp_application| %>
      <tr>
        <td><%= link_to 'Show', camp_application %></td>
        <td><%= link_to 'Edit', edit_camp_application_path(camp_application) %></td>
        <td><%= link_to 'Destroy', camp_application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Camp application', new_camp_application_path %>
