<div class="row">
  <div class="panel small-12 large-6 columns">
    <h3>Team Discount Eligibility Report:</h3>
    <p>Each number represents the number of applicants for the school who beat the discount deadline.</p>
    <ul>
      <% @schools.each do |school| %>
        <li><%= school[0].titleize %> - <%= school[1].count %></li>
      <% end %>
  </div>
</div>
