<div class="row">
  <div class="small-12 large-12 columns">
    <h2>Registration List</h2>
    <table>
      <thead>
        <th>Name</th>
        <th>T-shirt</th>
        <th>Camper Type</th>
        <th>Balance Due</th>
        <th>Tools</th>
      </thead>
    </table>
  </div>
</div>