@import "font-awesome";
@import "foundation_and_overrides";
@import "compass";
@import "profiles";
@import "camps";
@import "info";

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: -2;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

.container {
  padding-top: 20px;
  padding-bottom: 50px;
}


form a.remove_fields i.fa-times {
  color: red;
  padding-top: 13px;
  font-size: 3em;
  font-weight: bold;
  @include text-shadow(5px 5px 0px #000);
  &:hover {
    padding-left: 2px;
    padding-top: 15px;
    @include text-shadow(3px 3px 0px #000);
  }
  &:active {
    padding-left: 5px;
    padding-top: 18px;
    @include text-shadow(0px 0px 0px #fff);
  }
}

.statusdisp {
  i {
    padding-left: 3px;
  }
  span {
    padding-top: 10px;
  }
}
.appstatus {
  .disabled {
    color: gray;
  }
  .fa-ambulance.enabled {
    color: red;
  }
  .fa-usd.enabled {
    color: green;
  }
  .fa-file-text.enabled {
    color: blue;
  }
  .fa-plane.enabled {
    color: purple;
  }
  .fa-pencil-square-o.enabled {
    color: red;
  }
  .fa-check.enabled {
    color: green;
  }
}
a {
  h1, h2, h3, h4, h5 {
    color: $primary-color;
  }
}

