@import "font-awesome";
@import "foundation_and_overrides";
@import "compass";
@import "profiles";
@import "camps";




.container {
  padding-top: 20px;
  padding-bottom: 50px;
}

.welcome-box {
  @include panel (
    $bg: #ECFFEE,
    $adjust: true
  )
}

form a.remove_fields i.fa-times {
  color: red;
  padding-top: 13px;
  font-size: 3em;
  font-weight: bold;
  @include text-shadow(5px 5px 0px #000);
  &:hover {
    padding-left: 2px;
    padding-top: 15px;
    @include text-shadow(3px 3px 0px #000);
  }
}