@import "font-awesome";
@import "foundation_and_overrides";
@import "compass";
@import "profiles";
@import "camps";




.container {
  padding-top: 20px;
  padding-bottom: 50px;
}

.welcome-box {
  @include panel (
    $bg: #ECFFEE,
    $adjust: true
  )
}