// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#userinfo > li > *, #userinfo2 > li > *, #userinfo3 > li > * {
  display: inline-block;
}

#userinfo, #userinfo2, #userinfo3 {
  .fa-male {
    color: powderblue;
    @include single-text-shadow(0px,0px,1px,false,#000000);
  }
  .fa-female {
    color: pink;
    @include single-text-shadow(0px,0px,1px,false,#000000);
  }
  .fa-gift {
    color: darkred;
  }
}