<div class="row">
  <div class="panel small-12 large-12 columns">
    <h2>Meet The SWSDI Board:</h2>
    <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-2" data-equalizer>
        <% @staff.each do |member| %>
        	<li class="panel callout" data-equalizer-watch>
        		<div class="row">
    	    		<div class="small-3 large-3 columns">
    	    			<%= image_tag(member.image_url(:thumb)) %>
    	    		</div>
    	    		<h3 class="small-9 large-9 columns">
    	    			<%= member.full_name %>
    	    		</h3>
    	    		<h5 class="small-9 large-9 columns">
    	    			<%= member.school_affiliation %>
    	    		</h5>
        		</div>
        		<div class="row">
        			<dl class="small-12 large-12 columns">
        				<dt>Staff Bio:</dt>
        				<dd><%= member.bio %></dd>
        			</dl>
        		</div>
        	</li>
        <% end %>
    </ul>
  </div>
</div>

