<div class="jumbotron">
  <div class="container">
    <h1>Welcome to SWSDI Registration</h1>
    <p>We look forward to having you </p>
    <p><a href="#" class="btn btn-primary btn-lg" role="button">Learn More!</a></p>
  </div>
</div>
