<div class="row">
  <div class="panel small-12 large-12 columns">
    <h2>License Terms</h2>
    <hr />
    <p>This software is under license to Southwest Speech and Debate Institute at Arizona State University.</p>
    <p>The software is provided under limited license to SWSDI @ASU and its applicants.</p>
    <p>Use of this software constitutes a binding agreement to use the software for its intended purpose. Any unlawful or abusive use of the software will result in penalties, including termination of user accounts, forfeiture of fees, and possible criminal prosecution.</p>
    <p>This software is &copy;Richard Glover. The SWSDI @ASU Logo, and all original content are &copy;Southwest Speech and Debate Institute at Arizona State University. The ASU Logo and Hugh Downs School of Communication Logo are &copy;Arizona State University. All rights reserved.</p>
  </div>
</div>
