<div class="row">
  <div class="small-12 large-12 columns panel">
    <h2>SWSD Privacy Policy</h2>
    <hr />
    <p>We at SWSD@ASU are thoroughly committed to your privacy. It's very important to us.</p>
    <p>Therefore, any information we collect, we collect strictly for the purpose of our own records.</p>
    <p>We will only pass on the minimum information required to our partners, to enable them to provide us with the services necessary to have a successful camp.</p>
    <p>The health and insurance information you provide is kept in the strictest confidence, and only provided to ASU Campus Health Services, or a local hospital, if it is necessary for the treatment of illness or injury.</p>
    <p>For further information regarding our privacy policy and acknowledgements, please see the <a href="https://register.swsdi.org/documents/returnpacket2020.pdf">Return packet.</a></p>
  </div>
</div>
